
/*----------------login-------*/

.ben_login{width:auto;height:11.38rem;margin:0 auto;background: url(../images/login_bg.jpg) no-repeat center 0; background-size:100% 100%;text-align: center;}
.ben_login .login_box{width:80%;height:5rem;margin:0.6rem 10% 0;background:transparent}
.ben_login .mui-input-row:after{display:none}
.ben_login .mui-input-group .mui-input-row{height:0.5rem;line-height:0.5rem;margin:0.3rem 0}
.ben_login .mui-input-group:after,.ben_login .mui-input-group:before{display: none;}
.ben_login .mui-input-row label{padding:0 0.15rem;font-size:0.26rem;height:0.5rem;line-height:0.5rem;text-align: left;}
.ben_login .mui-input-row input{padding:0 0.15rem;font-size:0.26rem;border:1px solid #D5DBDB;height:0.5rem;line-height:0.5rem}
.ben_login .auto_login{height:0.5rem;line-height:0.5rem;}
.ben_login .auto_login input{float:left;}
.ben_login .auto_login span{float:left;font-size:0.24rem}
.ben_login .login_btn_wrap{height:0.9rem}
.ben_login .login_btn{height:0.7rem;width:3.8rem;border-radius:20px;border:0;background:#0099CC;color:#fff;font-size:0.32rem;margin-bottom:0.2rem}
.ben_login .login_btn:active{opacity: 0.9;background:#0099CC;}
.ben_login .toreg{margin-top:0.15rem;position:relative}
.ben_login .toreg a{font-size:0.26rem;margin:0.2rem; }
.ben_login input::-webkit-input-placeholder{
    color: #999;opacity:1;font-size:0.22rem
}
.ben_login .login_title{margin:0 auto;text-align: center;font-size:0.48rem;color:#666}

.ben_login .login_logo{width:80%;margin:1.24rem auto 0.5rem}
.ben_login .check_wrap{width:65%;float:left;border:1px solid #D5DBDB;height:0.5rem;line-height:0.5rem;text-align: left;}
.ben_login .check_wrap input{width:50%;border:0 none;}
.ben_login .check_wrap .check_code{float:right;height:0.38rem;line-height:0.38rem;font-size:0.14rem;color:#0099CC;margin:0.06rem auto;padding:0 0.1rem;border:1px solid #0099CC;border-radius:0.5rem}
.ben_login .mui-input-row .mui-input-password~.mui-icon-eye{top:0.1rem}
.ben_login .mui-input-row .iconfont{margin:0 0.1rem;font-size:0.32rem;color:#666}


